@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to your paradise journey</h1>
    <p class="lead">Enter a world of unrivalled luxury at Emeraude Resorts in 
    Melbourne. A holiday at any of our hotels promises to be unforgettable.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Discover Our Hotels</h2>
        <p>
            Each of our exclusive luxury hotels in Melbourne have been forged
            with a unique purpose, making no two Emeraude Resorts identical.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Water Activities</h2>
        <p>At Emeraude Resorts, guests can partake in a number of water sports,
        from Kayak, Pedalo to Kite-Surfing</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gallery</h2>
        <p>Check out our vast repository of timeless images here.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>